@pulumi-premium-policies:registry=https://pulumi-policy-as-code-052848974346.d.codeartifact.ap-southeast-2.amazonaws.com/npm/pulumi-premium-policies/
//pulumi-policy-as-code-052848974346.d.codeartifact.ap-southeast-2.amazonaws.com/npm/pulumi-premium-policies/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
//pulumi-policy-as-code-052848974346.d.codeartifact.ap-southeast-2.amazonaws.com/npm/pulumi-premium-policies/:always-auth=true