name: Release Kubernetes Policies package

on:
  push:
    tags:
      - kubernetes-policies-*

env:
  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

jobs:
  kubernetes-policies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org
          always-auth: true

      - name: Build Kubernetes Policies
        run: |
          cd vendor-kubernetes
          make build publish
