name: Release Google Policies package

on:
  push:
    tags:
      - google-policies-*

env:
  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

jobs:
  google-policies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org
          always-auth: true

      - name: Build Google Policies
        run: |
          cd vendor-google
          make build publish
